<mat-toolbar color="primary">
  <span>Integrations Sprints</span>
  <span class="spacer"></span>
  <button mat-button (click)="navigateToHome()">Home</button>
  <button mat-button (click)="navigateToMovies()">Movies</button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let topic of topics">
      <button mat-menu-item (click)="navigateTo(topic)">{{ topic }}</button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
